In [3]:
import sqlite3
db= sqlite3.connect("my_database.db")
cursor=db.cursor()
cursor.execute("CREATE TABLE scores2(gender TEXT,student_id INT PRIMARYKEY,marks INT)")
cursor.execute("insert into scores2(gender,student_id,marks) values('male',100,55)")
db.commit()
print(cursor.rowcount,"Record(s) inserted")

1 Record(s) inserted

In [4]:
cursor.execute("insert into scores2(gender,student_id,marks) values('female',100,55)")

In [8]:
cursor.execute("insert into scores2(gender,student_id,marks) values('female',101,60)")
db.commit()
print(cursor.rowcount,"Record(s) inserted")

1 Record(s) inserted

In [9]:
results = cursor.execute("SELECT * FROM scores2")
for row in results:
    print(row)

('male', 100, 55)
('female', 100, 55)
('female', 101, 60)
('female', 101, 60)
('female', 101, 60)
('female', 101, 60)

In [12]:
cursor.execute("INSERT INTO scores2(gender,student_id,marks) values('female',102,68),('female',103,60)")
print(cursor.rowcount,"Record(s) inserted")

2 Record(s) inserted

In [13]:
results= cursor.execute("SELECT * from scores2")
for row in results:
    print(row)

('male', 100, 55)
('female', 100, 55)
('female', 101, 60)
('female', 101, 60)
('female', 101, 60)
('female', 101, 60)
('female', 102, 68)
('female', 103, 60)
('female', 102, 68)
('female', 103, 60)

In [15]:
results= cursor.execute("SELECT student_id,gender from scores2")
for row in results:
    print(row)

(100, 'male')
(100, 'female')
(101, 'female')
(101, 'female')
(101, 'female')
(101, 'female')
(102, 'female')
(103, 'female')
(102, 'female')
(103, 'female')

In [39]:
with open ('scores_file.csv','r') as file:
    no_records=0
    for row in file:
        cursor.execute("INSERT INTO scores2 VALUES (?,?,?)",row.split(","))
        db.commit()
        no_records +=1
        print(no_records,'Records Inserted')

FileNotFoundError: [Errno 2] No such file or directory: 'scores_file.csv'

In [37]:
sql= "SELECT* From scores2 WHERE student_id = 103"
result= cursor.execute(sql)
for row in result:
    print(row)

('female', 103, 60)
('female', 103, 60)

In [41]:
sql = "DELETE FROM scores2 WHERE student_id = 103"
db.commit()
cursor.execute(sql)
result = cursor.execute("SELECT * from scores2")
for row in result:
    print(row)

('male', 100, 55)
('female', 100, 55)
('female', 101, 60)
('female', 101, 60)
('female', 101, 60)
('female', 101, 60)
('female', 102, 68)
('female', 102, 68)